.about-me {
   color: red;
 }
 body{
   background-color: #DAF7A6 ;
   border-bottom: 50px solid blue;
 }
img {
  float: right;
}
h2 {
  font-family: serif;
  color: #FF0000;
}
h1{
  text-align: center;
  text-shadow: left;
}
