h1{
  font-size: 20px;
  color:blue;
  text-align: center;

}
nav{
  text
  display: inline-block;
  text-align:left;
}
 #projects {
   color: red;
 }
 .about-me {
   color: red;
 }
 body{
   background-color: #DAF7A6 ;
 }
